# rename to .env.local
# this configures the nextjs app
NODE_ENV=development

AUTH_SECRET="" # run `npx auth`. Read more: https://cli.authjs.dev
NEXTAUTH_URL="http://localhost:1010"
NEXT_PUBLIC_BASE_URL="http://localhost:1010"
# Get projectId from https://cloud.reown.com
NEXT_PUBLIC_REOWN_CLOUD_PROJECT_ID=""
